<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Gps Tracking App</title>
    <environment names="Development">
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/lib/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
        <link href="~/lib/datatables/media/css/dataTables.foundation.css" rel="stylesheet" />
        <link href="~/lib/datatables/media/css/dataTables.jqueryui.css" rel="stylesheet" />
        <link href="~/lib/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
        <link href="~/lib/select2/dist/css/select2.css" rel="stylesheet" />
        <link href="~/lib/layout/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/lib/layout/css/_all-skins.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/lib/datatables/media/css/dataTables.jqueryui.min.css" rel="stylesheet" />
        <link href="~/lib/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/datatables/media/css/dataTables.foundation.min.css" rel="stylesheet" />
        <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
        <link href="~/lib/layout/css/AdminLTE.min.css" rel="stylesheet" />
        <link href="~/lib/layout/css/_all-skins.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    @*<div>
            @RenderBody()
        </div>*@

    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>FTS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Focus</b>Tracking System</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    @{
                        List<Tracker.Entities.MenuItem> result = new List<Tracker.Entities.MenuItem>();

                        if (result != null)
                        {
                            result = result.OrderBy(m => m.MenuOrder).ToList();
                            foreach (var menu in result)
                            {
                                if (menu.Children == null || menu.Children.Count == 0)
                                {
                                    <li><a href="@(Url.Action(menu.Action, menu.Controller))"><i class="@menu.CSSClass"></i><span>@menu.Text</span></a></li>
                                }
                                else
                                {
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="@menu.CSSClass"></i>
                                            <span>@menu.Text</span>
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </a>
                                        <ul class="treeview-menu">
                                            @*@Helpers.BuildMenu(menu.Children)*@
                                            @foreach (var subMenu in menu.Children.OrderBy(m => m.MenuOrder).ToList())
                                            {
                                                <li><a href="@(Url.Action(subMenu.Action, subMenu.Controller))"><i class="fa fa-circle-o"></i>@subMenu.Text</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper" style="background-color: #ecf0f5;">
            <section class="content">
                @RenderBody()
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->


        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>TMS</b>
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="http://ojavintech.com">Ojasvin Technologies</a>.</strong> All rights reserved.
        </footer>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/datatables/media/js/jquery.dataTables.js"></script>
            <script src="~/lib/datatables/media/js/dataTables.foundation.js"></script>
            <script src="~/lib/datatables/media/js/dataTables.bootstrap.js"></script>
            <script src="~/lib/datatables/media/js/dataTables.jqueryui.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
            <script src="~/lib/toastr/toastr.js"></script>
            <script src="~/js/SetupToastr.js"></script>
            <script src="~/js/UpdateDataTableSelectAllCtrl.js"></script>
            <script src="~/js/app.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
            <script src="~/lib/datatables/media/js/dataTables.foundation.min.js"></script>
            <script src="~/lib/datatables/media/js/dataTables.bootstrap.js"></script>
            <script src="~/lib/datatables/media/js/dataTables.jqueryui.min.js"></script>
            <script src="~/lib/toastr/toastr.min.js"></script>
            <script src="~/js/SetupToastr.min.js"></script>
            <script src="~/js/UpdateDataTableSelectAllCtrl.min.js"></script>
            <script src="~/js/app.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                    asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                    asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
